@charset "utf-8";
/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    color: #7b7b7b;
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-duration:.2s;
    -moz-transition-timing-function:ease-in;
    -o-transition-duration:.2s;
    -o-transition-timing-function:ease-in;
    transition-duration:.2s;
    transition-timing-function:ease-in;
}
a:hover{
    text-decoration: none;
    color: #14adab;
}
img{
    border: none;
}
body{
    font-family:"微软雅黑",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    overflow-x: hidden;
}
header,section{
    display: block;
}
input,button,select,textarea{
    outline:none;
}
/*底部导航*/
.footer-nav{
    margin-top: 51px;
    width: 100%;
    height: 39px;
    background-color: #16150f;
}
.footer-nav .footer-container{
    margin: 0 auto;
    width: 1200px;
    height: 39px;
}
.footer-nav .footer-container li{
    float: left;
    padding: 0 59px;
    text-align: center;
    line-height: 39px;
}
.footer-nav .footer-container li a{
    color: white;
    font-size: 14px;
}
/*版权信息*/
.copyright{
    width: 100%;
    height: 128px;
    background: #2c2c2c url('../images/footer-bg.png');
    color: white;
    font-size: 13px;
    text-align: center;
}
.copyright p:first-child{
    padding: 35px 0 12px 0;
}