@charset "utf-8";
/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a:link, a:visited{
    color: #7b7b7b;
    text-decoration:none;
    -webkit-transition-property:color;
    -moz-transition-property:color;
    -o-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-duration:.2s;
    -moz-transition-timing-function:ease-in;
    -o-transition-duration:.2s;
    -o-transition-timing-function:ease-in;
    transition-duration:.2s;
    transition-timing-function:ease-in;
}
a:hover, a:active{
    text-decoration: none;
    color: #14adab;
}
img{
    border: none;
}
body{
    font-family:"微软雅黑",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    overflow-x: hidden;
}
header,section,a{
    display: block;
}
input,button,select,textarea{
    outline:none;
}
/*健康加医服务列表*/
.service{
    margin: 0 auto;
    width: 1200px;
    height: 1645px;
    /*    border: solid 1px red;*/
}
.service .service-list{
    margin-top: 13px;
    color: #363636;
    font-family: "宋体","Arial","Microsoft YaHei","黑体",sans-serif;
}
.service .service-list span{
    color: #999999;
}
.service .service-title{
    margin-top: 28px;
    font-size: 20px;
    color: #000000;
}
/*医疗健康选项区块*/
.service .service-check{
    margin-top: 13px;
    width: 1198px;
    height: 210px;
    border: solid 1px #e8e8e8;
}
.service .service-check .service-check-tit{
    width: 100%;
    height: 39px;
    border-bottom: solid 1px #e8e8e8;
    font-size: 15px;
    font-family: "宋体","Arial","Microsoft YaHei","黑体",sans-serif;
}
.service .service-check .service-check-tit li{
    float: left;
    display: block;
    width: 124px;
    height: 39px;
    cursor: pointer;
    border-right: solid 1px #e8e8e8;
    text-align: center;
    line-height: 39px;
}
.service .service-check .service-check-tit li span{
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.service .service-check .service-check-tit li:nth-child(1) span{
    background: #bbbbbb url("../img/recommend.png") no-repeat center center;
}
.service .service-check .service-check-tit li:nth-child(2) span{
    background: #bbbbbb url("../img/type.png") no-repeat center center;
}
.service .service-check .service-check-tit li:nth-child(3) span{
    background: #bbbbbb url("../img/introduce.png") no-repeat center center;
}
.service .service-check .service-check-content li{
    float: left;
    font-size: 13px;
    font-family: "宋体","Arial","Microsoft YaHei","黑体",sans-serif;
}
.service .service-check .service-check-content .service-area{
    margin-top: 15px;
    color: #000000;
    /*        border: solid 1px red;*/
}
.service .service-check .service-check-content .service-chk{
    margin-left: 20px;
    color: #a1a1a1;
}
.service .service-check .service-check-content .service-li2{
    margin-left: 26px;
}
.service .service-check .service-check-content .check-city, .service .service-check .service-check-content .multiple-check, .service .service-check .service-check-content .check{
    margin-left: 28px;
    margin-top: -6px;
    width: 1024px;
    padding-left: 9px;
    /*    border: solid 1px red;*/
}
.clear:after{
    content: '\2714';
    display: block;
    line-height: 0;
    visibility: hidden;
    clear: left;
}
.service .service-check .service-check-content .check-city li, .service .service-check .service-check-content .multiple-check li, .service .service-check .service-check-content .check li{
    display: inline;
    padding-right: 40px;
    line-height: 28px;
    color: #323232;
    cursor: pointer;
    /*    border: solid 1px red;*/
}
.service .service-check .service-check-content .multiple-check span{
    display: inline-block;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    background: url("../img/check.png") no-repeat right center;
}
.service-con{
    float: left;
    display: none;
    width: 100%;
    height: 169px;
}
.service-on{
    display: block;
}
/*医疗健康中下区块*/
.service-areaList{
    margin-top: 17px;
    width: 100%;
    height: 1307px;
    /*    border: solid 1px green;*/
}
/*导航条*/
.service-areaList .service-areaList-l{
    float: left;
    width: 952px;
    height: 1307px;
    /*    border: solid 1px black;*/
}
.service-areaList .service-areaList-l .service-areaList-tab{
    width: 100%;
    height: 40px;
    border: solid 1px #e8e8e8;
}
.service-areaList .service-areaList-l .service-areaList-tab .service-tab{
    float: left;
}
.service-areaList .service-areaList-l .service-areaList-tab .service-tab li{
    float: left;
    width: 69px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: #353535;
    border-right: solid 1px #e8e8e8;
}
.service-areaList .service-areaList-l .service-areaList-tab .service-pagination{
    float: right;
    margin-top: 2px;
    margin-right: 1px;
    width: 106px;
    height: 32px;
    background-color: #f8f8f8;
}
.service-areaList .service-areaList-l .service-areaList-tab .service-pagination li{
    float: left;
    text-align: center;
    line-height: 32px;
    font-size: 13px;
}
.service-areaList .service-areaList-l .previous,.service-areaList .service-areaList-l .next{
    margin-top: 7px;
    cursor: pointer;
}
.service-areaList .service-areaList-l .previous{
    margin-right: 11px;
}
.service-areaList .service-areaList-l .next{
    margin-left: 11px;
}
.service-areaList .service-areaList-l .service-all{
    width: 954px;
/*    border: solid 1px red;*/
}
.service-areaList .service-areaList-l .service-all .list-info{
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    width: 224px;
    height: 336px;
    border: solid 1px #eaebea;
    overflow: hidden;
}
.service-areaList .service-areaList-l .service-all .list-info .list-title{
    font-size: 16px;
    color: #3e3e3e;
}
.service-areaList .service-areaList-l .service-all .list-info .list-information{
    margin: 3px auto 0 auto;
    width: 210px;
    font-size: 14px;
    color: #292929;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user{
    margin-top: 9px;
    height: 42px;
    border-top: dashed 1px #e8e8e8;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user p{
    line-height: 42px;
    font-size: 12px;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user p.list-user-score{
    float: left;
    margin-left: 9px;
    color: #999999;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user p.list-user-score span{
    font-size: 16px;
    color: #14adab;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user p.list-user-subscribe{
    float: right;
    margin-right: 9px;
    color: #3e3e3e;
}
.service-areaList .service-areaList-l .service-all .list-info .list-user p.list-user-subscribe span{
    font-size: 16px;
}
.service-areaList .btm-pagination{
    margin-top: 40px;
    width: 952px;
    height: 111px;
    border-top: solid 1px #13adab;
}
.service-areaList .btm-pagination .btm-center-page{
    margin: 29px auto 0 auto;
    width: 387px;
    height: 37px;
    /*    border: solid 1px red;*/
}
.service-areaList .btm-pagination .btm-center-page span{
    display: inline-block;
    border: solid 1px #e8e8e8;
    padding: 7px 12px;
    margin-right: 8px;
    font-size: 14px;
    color: #3e3e3e;
}
.service-areaList .service-areaList-r{
    float: right;
    width: 225px;
/*        border: solid 1px black;*/
}
.service-areaList .service-areaList-r .ad1{
    margin-top: 13px;
}
.service-areaList .service-areaList-r .ad3{
    margin-top: 28px;
}